.banner-container {
  position: absolute;
  width: 90%;
  height: 400px;
  margin: auto;
  right: 5%;
  top: 10%;
  // border: 2px solid white;
  h1{
    color: white;
    font-size: 50px;
  }
  h2{
    color: white
  }

  .welcome-message {
    font-size: 100px;
    color: white;
  }

  .portfolio-message {
    font-size: 50px;
    color: white;
  }
}
