.circular-gallery-container {
  position: absolute;
  top: 135%;
  width: 100%;
  margin: auto;
  height: 1500px;

}

.circular-gallery {
  width: 100%;
  height: 30%;
  overflow: hidden;
  cursor: grab;
}

.circular-gallery:active {
  cursor: grabbing;
}
