.profile-container {
  position: absolute;
  top: 40%;
  right: 15%;
  width: 70%;
  margin: auto;

  .profile-picture {
    width: 200px;
    margin: auto;
    img {
      width: 100%;
    }
  }

  h3{
    color: white
  }
}
